
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn btn-warning:hover {
        background-color: #0d6efd !important;
        color: blue;
    }
</style>

<h2 style="text-align: center; font-weight: bolder; margin-top: 30px; text-decoration: underline;">WishList</h2>
<br />
<br />
<br />

<div class="container ">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center align-middle">Delete</th>
                <th class="text-center align-middle" width="200" height="100">Image</th>
                <th class="text-center align-middle">Product Name</th>
                <th class="text-center align-middle">Unit Price</th>
                <th class="text-center align-middle">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center align-middle"><i class="fa-solid fa-trash-can"></i></td>
                <td class="text-center align-middle"><img src="~/Images/AboutUs2.png" style="height:30%;"></td>
                <td class="text-center align-middle">Product 1</td>
                <td class="text-center align-middle">$10</td>
                <td class="text-center align-middle"><button class="btn btn-warning" style="border-radius:20px;">VIEW PRODUCT</button></td>
            </tr>
            <tr>
                <td class="text-center align-middle"><i class="fa-solid fa-trash-can"></i></td>
                <td class="text-center align-middle"><img src="~/Images/FAQ.jpg" width="100" height="100"></td>
                <td class="text-center align-middle">Product 2</td>
                <td class="text-center align-middle">$20</td>
                <td class="text-center align-middle"><button class="btn btn-warning" style="border-radius:20px; ">VIEW PRODUCT</button></td>
            </tr>
            <tr>
                <td class="text-center align-middle"><i class="fa-solid fa-trash-can"></i></td>
                <td class="text-center align-middle"><img src="~/Images/RelatedProduct1.jpg" width="100" height="100"></td>
                <td class="text-center align-middle">Product 3</td>
                <td class="text-center align-middle">$30</td>
                <td class="text-center align-middle"><button class="btn btn-warning" style="border-radius:20px;">VIEW PRODUCT</button></td>
            </tr>

            <tr>
                <td class="text-center align-middle"><i class="fa-solid fa-trash-can"></i></td>
                <td class="text-center align-middle"><img src="~/Images/RelatedProduct3.jpg" width="100" height="100"></td>
                <td class="text-center align-middle">Product 4</td>
                <td class="text-center align-middle">$40</td>
                <td class="text-center align-middle"><button class="btn btn-warning" style="border-radius:20px;">VIEW PRODUCT</button></td>
            </tr>

            <tr>
                <td class="text-center align-middle"><i class="fa-solid fa-trash-can"></i></td>
                <td class="text-center align-middle"><img src="~/Images/Contact.jpg" width="100" height="100"></td>
                <td class="text-center align-middle">Product 5</td>
                <td class="text-center align-middle">$50</td>
                <td class="text-center align-middle"><button class="btn btn-warning w" style="border-radius:20px;">VIEW PRODUCT</button></td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />

