
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
            <img  style="height:70%"  src="~/Images/Error2.jpg" alt="Aboutus Image">
        </div>
    </div>
    <div class="empty-page-content col-lg-6 col-md-12 " style="margin-top:130px">

        <h1 class="home-title" style="font-weight:bolder">UH OH! You're lost :((</h1>
        <div class="description"><h3>The page you are looking for does not exist. How you got here is a mystery. But you can click the button below to go back to the homepage.</h3></div><br />
        <div><button class="btn btn-primary" style="border-radius:20px;">Return TO Home</button></div>

    </div>
</div>
<br />
<br />

