
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; font-weight: bolder; margin-top: 30px; text-decoration: underline;">DOG'S PRODUCTS</h2>
<br />
<br />
<div class="container">
    <div class="row justify-content-around">
        <div class="card mb-3" style="max-width: 540px; padding:0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/Single Product.png"
                         alt="Trendy Pants and Shoes"
                         class="ratio-21x9 "
                         style=""/>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <a class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%" href="../SingleProduct/SingleProduct">Buy Now</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/RelatedProduct1.jpg"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-around">
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/RelatedProduct2.jpg"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/RelatedProduct3.jpg"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-around">
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/Related Product4.jpg"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/AboutUs2.png"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-around">
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/Contact.jpg"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px; padding: 0px !important">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/Single Product.png"
                         alt="Trendy Pants and Shoes"
                         class="" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Whole Earth Cat Food</h5><br />
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <button class="btn btn-warning " type="submit" style="border-radius:20px; width:40%">Add To Cart</button>
                                <button class="btn btn-primary" type="submit" style="border-radius: 20px; width: 40%">Buy Now</button>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<br /><br />
