
@{
    ViewBag.Title = "AboutUS";
}
<h2 style="text-align: center; font-weight: bolder; margin-top: 30px; text-decoration: underline;">ABOUT US</h2><br /><br /><br />
<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
            <img style="height:50%" src="~/Images/AboutUs1.jpg" alt="Aboutus Image">
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">

        <div class="title-container" >
            <h2 class="heading">We Have Everything You Need ?</h2>
        </div>
        <div>
            <p style="color:#808080">Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>
            <h4 style="margin-top:100px">Sample Unordered List</h4><br /><br />
            <ol>
                <li>Lorem ipsum, or lipsum as it is sometimes known</li>
                <li>Dummy text used in laying out print, graphic or web designs</li>
                <li>The passage is attributed to.</li>
                <li>Proin molestie egestas orci ac suscipit risus posuere loremou.</li>
                <li>Dummy text used in laying out print, graphic or web designs</li>
            </ol>
        </div>
        <div><br /><br />
            <a href="#" class="btn btn-warning">
                Contact Us
            </a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="position-absolute z-index--1 end-0 d-none d-lg-block" style="border:none !important;"></div>
    <div class="mb-7 text-center">
        <h5 class="text-secondary">SERVICES </h5>
        <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">We Offer Best Services</h3><br />
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 mb-6">
            <div class="card service-card text-center align-items-center">
                <div class="card-body p-xxl-5 p-4" style="background-color: #f7f7f7">
                    <i class="fa-sharp fa-solid fa-truck-fast" style="font-size:50px;"></i>
                    <h4 class="mb-3">DELIEVERY</h4>
                    <p class="mb-0 fw-medium">Built Wicket longer admire do barton vanity itself do in it.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
            <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4" style="background-color: #f7f7f7">
                    <i class="fa-solid fa-cat" style="font-size:50px;"></i>
                    <h4 class="mb-3">GROAMING</h4>
                    <p class="mb-0 fw-medium">Engrossed listening. Park gate sell they west hard for the.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
            <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4" style="background-color: #f7f7f7">
                    <i class="fa-solid fa-shower" style="font-size:50px;"></i>
                    <h4 class="mb-3">BATHING</h4>
                    <p class="mb-0 fw-medium">Barton vanity itself do in it. Preferd to men it engrossed listening.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-6">
            <div class="card service-card shadow-hover rounded-3 text-center align-items-center">
                <div class="card-body p-xxl-5 p-4" style="background-color: #f7f7f7">
                    <i class="fa-solid fa-tents" style="font-size:50px;"></i>
                    <h4 class="mb-3">SHELTER</h4>
                    <p class="mb-0 fw-medium">We deliver outsourced aviation services for military customers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
            <h2 class="heading">We Have Everything You Need ?</h2>
        </div>
        <div>
            <p style="color:#808080">Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>
            <h4 style="margin-top:50px">Sample Ordered List</h4><br /><br />
            <ol>
                <li>Comodous in tempor ullamcorper miaculis</li>
                <li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
                <li>Divamus sit amet purus justo.</li>
                <li>Comodous in tempor ullamcorper miaculis</li>
                <li>Proin molestie egestas orci ac suscipit risus posuere loremous</li>
            </ol>
        </div>
        <div><br /><br />
                <a href="#" class="btn btn-warning">
                    Contact Us
                </a>
            </div>
        </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div>
            <img style="height:50%" src="~/Images/About3jpg.jpg" alt="Aboutus Image"/>
        </div>
    </div>
  </div><br/><br /><br />
</div>



